body
{
  background-color: black;
  justify-content: center;
  align-items: center;
}

canvas
{
  border: 2px solid white;
  background-color: Green;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display: block;
}

p.para
{
  background-color: black;
  color: white;
  font-size: 20px;
}

p.para1
{
  background-color: black;
  color: yellow;
  font-size: 25px;
}
